@font-face {
  font-family: Helmet;
  font-display: block;
  src:
    url("/fonts/Helmet-Regular.woff2") format("woff2"),
    url("/fonts/Helmet-Regular.woff") format("woff"),
    url("/fonts/Helmet-Regular.eot") format("eot"),
    url("/fonts/Helmet-Regular.otf") format("otf"),
    url("/fonts/Helmet-Regular.ttf") format("ttf");

}
